.container-nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar {
  background-color: lightskyblue;
}

.nav-btn {
 text-decoration: none;
  color: black;
  cursor: pointer;
}

.nav-active {
  font-weight: bold;
  font-size: 25px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
