.auth {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

input {
  padding: 10px;
  margin: 5px;
  border-radius: 20px;
  border: 3px solid lightskyblue;
  &:focus {
    outline: none;
  }
}

.auth-btn {
  padding: 10px 5px;
  margin-top: 10px;
  background-color: lightskyblue;
  border-radius: 10px;
  font-size: 20px;
  &:focus {
    outline: none;
  }
}
